:root {
  --black: #171717;
  --gray: #a5a5a5;
  --gray-link: #848687;
  --gray-social: #6b6b6b;
  --gray-social-hover: #cfd0d6;
  --gray-search-border: #e1e1e1;
  --gray-search-filling: #f1f1f1;
  --gray-block-filling: #f7f7f7;
  --gray-search-placeholder: #c9c9c9;
  --gray-search-text: #2a2a2a;
  --gray-hover: #515151;
  --blue: #00a7d2;
  --href: #4a90e2;
  --pending: #E1892C;
  --pending-border: #FFDBB6;
  --mined: #4F886C;
  --mined-border: #C4DED1;
  --rejected: #AD2B2B;
  --rejected-border: #F4D1D1;
  --active-orange: #f5a623;
  --unactive-orange: #a8741f;
}

@font-face {
  font-family: "Neuropol-Regular";
  src: url('../fonts/neuropol.ttf') format("truetype");
}

html, body {
  font-size: 13px;
  font-family: "Open Sans";
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

/*gutters*/
.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mb-5{
  margin-bottom: 5px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-20{
  margin-bottom: 20px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20{
  padding-top: 20px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.sticky {
  position: sticky;
  top:0;
  z-index:1;
}

/*header*/
.header-nav {
  width: 100%;
  background-color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  width: 132px;
  height: 50px;
  padding: 0;
  margin-right: 35px;
}

.navbar-text {
  cursor: default;
}

.header-item {
  display: flex;
  flex-direction: row;
}

.header-description {
  color: var(--gray);
  font-weight: 600;
}

.navbar-nav.orange a.header-description  {
  color: var(--unactive-orange);
}

.navbar-nav.orange .header-description:hover {
  color: var(--unactive-orange);
  text-decoration: underline;
  text-decoration-color: var(--unactive-orange);
}

.header-indication {
  font-weight: bold;
  color: var(--white);
}

.orange .header-indication {
  font-weight: normal;
  color: var(--active-orange);
}

ul.header-links .navbar-text div a {
  color: var(--gray-link);
  font-weight: bold;
}

.header-links a:hover #arrow-back {
  fill: white;
}

.header-links a:hover {
  text-decoration: none;
}

.header-button {
  cursor:pointer;
  border: 2px solid var(--gray-social);
  border-radius: 13px;
  padding: 0 15px;
  background: none;
  color: var(--white);
  font-weight: 600;
}

.header-button:hover {
  background-color: var(--gray-hover);
}

.header-button:active, .header-button:focus {
  outline: none;
}

.navbar-nav.social .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.header-icon {
  height: 26px;
  width: 26px;
}

.social-icon:hover .svg-circle {
  stroke: var(--gray-social-hover);
}

.social-icon:hover .svg-icon {
  fill: var(--gray-social-hover);
}

/*second header*/

.second-nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:34px;
  background-image: linear-gradient(to right, #262626, #404040);
  color: var(--white);
}

.second-nav a {
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:100%;
  font-weight: bold;
  color: var(--white);
}

.second-nav a:hover {
  text-decoration: none;
}

.second-nav .router-link-active {
  background: var(--blue);
}

/*search line*/
.search {
  height: 65px;
  background-color: var(--white);
}

.search-input {
  padding-left: 20px;
  padding-right: 60px;
  height: 35px;
  border: 1px solid var(--gray-search-border);
  font-size: 13px;
  color: var(--gray-search-text);
  border-radius: 20px;
}

.search-input::placeholder {
  color: var(--gray-search-placeholder);
}

.search-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 20px;
  width:90px;
  height:25px;
  background: none;
  border: 2px solid var(--gray-search-border);
  border-radius: 12px;
  outline:none;
}

.search-button:hover {
  background: var(--gray-search-filling);
}

.search-button:active, .search-button:focus, .search-button:hover {
  outline:none;
}

.dropdown-language > button {
  color: var(--black);
  background: none;
  border: none;
}

.dropdown-language > button:hover, .dropdown-language > button:active, .dropdown-language > button:focus {
  color: var(--black) !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-language .dropdown-menu {
  margin-top:20px;
  background: var(--black);
}

.dropdown-language .dropdown-menu .dropdown-item {
  color: var(--white);
  text-align: center;
}

.dropdown-language .dropdown-menu .dropdown-item:hover, .dropdown-language .dropdown-menu .dropdown-item:focus {
  font-weight: bold;
  background: none;
  outline:none;
}

/*slide 1*/
.first-slide-wrapper {
  max-width: 475px;
  width:100%;
}

.gray-row {
  min-height:80px;
  background: #f7f7f7;
}

.gray-text {
  color: #aaaaaa;
  font-weight: 600;
}

.ul-nav {
  list-style: none;
  margin:0;
  padding:0;
}

.ul-nav li {
  margin-top: 55px;
  display:flex;
  align-items: center;
}

.ul-nav li a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
}

.index-popup {
  position:absolute;
  display: none;
  width: 310px;
  min-height: 100px;
  right: 0;
  background: var(--black);
  border-radius: 5px;
  color: var(--white);
  padding: 10px 30px;
}

.ul-nav li a:hover + .index-popup {
  display: flex;
  align-items:center;
}

.second-nav a:hover .index-popup {
  display: block;
  top: 120px;
  z-index: 3;
  right: unset;
}

/*token holding*/
/*block*/

.divider-row {
  border-bottom: 1px solid #f3f3f3;
}

.block-container {
  max-width:1200px;
  width:100%;
}

.block-wrapper {
  max-width:680px;
}

.block-description-text{
  color: var(--gray);
}

.block-a {
  color: var(--href);
}

/*transaction*/

.transaction-container {
  max-width: 500px;
}

.width-60 {
  max-width: 60px;
}

.rejected-plate {
  display: inline-block;
  border: 3px solid var(--rejected-border);
  color: var(--rejected);
  padding: 2px 10px;
}

.mined-plate {
  display: inline-block;
  border: 3px solid var(--mined-border);
  color: var(--mined);
  padding: 2px 10px;
}

.pending-plate {
  display: inline-block;
  border: 3px solid var(--pending-border);
  color: var(--pending);
  padding: 2px 10px;
}

/*wallet*/

.row-wallet-wrapper {
  padding: 0 100px;
}

.col-wallet-wrapper {
  width:400px;
}

.row-wallet-wrapper .col-wallet-wrapper:nth-last-child(1) {
  padding-left: 200px;
  padding-right: 0;
}

.wallet-pagination {
  background-color: var(--gray-block-filling);
}

.wallet-pagination-gray-text {
  margin: 0 24px;
  color: #979696;
}

.wallet-pagination-button {
  cursor: pointer;
  color: #3b3b3d;
  background: none;
  border:none;
  outline:none;
}

.input-date {
  padding-right: 3px;
  width:82px;
  text-align: right;
  border: 1px solid #e1e1e1;
}

.input-date+.search-button {
  position: static;
  display: inline-block;
}

.wallet-arrows {
  cursor: pointer;
  margin: 0 12px;
}



/*mining*/

.gray-block {
  background: var(--gray-block-filling);
  min-height: 70px;
  padding: 10px;
}

.mining-table-wrapper {
  min-height: 300px;
}

.mining-table-wrapper table {
  margin-bottom: 0;
}
