:root {
  --white: #ffffff;
  --black: #232531;
  --gray-background: #F8F9FA;
  --gray-border: #E6E6E6;
  --gray-icon: #CCCCCC;
  --blue-theme: #00ADD9;
  --about-theme: #e9ecef;

  --rejected: #ad2b2b;
  --rejected-border: #f4d1d1;
  --mined: #4f886c;
  --mined-border: #c4ded1;
  --pending: #e1892c;
  --pending-border: #ffdbb6;
}

html, body {
  height: 100%;
  font-size: 13px;
  font-family: "Open Sans";
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.nowrap {
  white-space: nowrap;
}

/*gutters*/
.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*transition*/
.disappear-enter-active {
  animation: appear .5s ease-in;
}

.disappear-leave-active {
  animation: disappear .3s ease-in;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/*header*/
.header-nav {
  width: 100%;
  height: 65px;
  padding: 0 60px;
  background-color: var(--gray-background);
  border-bottom: 1px solid var(--gray-border);
}

.header-logo {
  margin: 0;
  width: 150px;
  height: 50px;
  padding: 0;
}

.header-search {
  position: relative;
  margin-left: 100px;
  max-width: 690px;
  width: 100%;
  color: var(--gray-icon);
}

.header-search input.form-control {
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 29px;
  padding-left: 50px;
  font-size: 16px;
  box-shadow: 0 0 0 1px var(--gray-border);
  color: rgba(35, 37, 49, 0.7);
}

.header-search input.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 173, 217, 0.7);
}

.header-search input.form-control::placeholder {
  color: var(--gray-icon);
}

.header-search input.form-control.is-invalid {
  color: var(--rejected);
  box-shadow: 0 0 0 0.1rem var(--rejected-border);
}

.header-search label {
  position: absolute;
  width: 40px;
  height: 100%;
  justify-content: flex-end;
}

.header-links {
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
}

ul.header-links .navbar-text {
  min-width: 150px;
}

ul.header-links .navbar-text div a, .sidebar .header-links a.text-center {
  font-size: 14px;
  color: var(--black);
}

ul.header-links .navbar-text div a.header-button, a.header-button {
  cursor: pointer;
  width: 150px;
  height: 24px;
  border: none;
  border-radius: 16px;
  padding: 0 15px;
  background: var(--blue-theme);
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

ul.header-links .navbar-text div a.header-button:active, ul.header-links .navbar-text div a.header-button:hover,
a.header-button:hover, a.header-button:active {
  outline: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.2s ease;
}

.navbar-nav.social .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.social-icon:hover svg path, .social-icon:hover svg polygon {
  fill: var(--blue-theme);
  transition: fill 0.3s ease;
}

.social {
  height: 32px;
  color: var(--black);
}

.social .nav-link {
  height: 32px;
  padding: 0;
}

.social .dropdown-menu {
  top: 35px;
}

.social .dropdown-menu .dropdown-item:hover {
  background: var(--gray-background);
}

.social .dropdown-item:focus {
  outline: none;
  background: none;
}

.lang {
  width: 60px;
}

/*sidebar*/

.sidebar {
  padding: 0;
  max-width: 250px;
  height: calc(100vh - 66px);
  background: var(--gray-background);
  border-right: 1px solid var(--gray-border);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  font-size: 16px;
  border-bottom: 1px solid var(--gray-border);
}

.sidebar ul li svg {
  margin-right: 10px;
}

.sidebar ul li:hover svg path, .sidebar ul li:hover svg polygon {
  fill: var(--blue-theme);
  transition: fill 0.3s ease;
}

.sidebar ul li:hover {
  background-color: var(--white);
  border-left: 4px solid var(--blue-theme);
  color: var(--blue-theme);
  transition: color 0.2s linear, border-left 0.2s linear, background-color 0.3s linear;
}

.sidebar ul li.router-link-active svg path, .sidebar ul li.router-link-active svg polygon {
  fill: var(--blue-theme);
}

.sidebar ul li.router-link-active {
  background-color: var(--white);
  border-left: 4px solid var(--blue-theme);
  color: var(--blue-theme);
}

/*sidebar mobile*/

.overflow-hidden {
  overflow: hidden;
}

.sidebar.mobile {
  max-width: 60px;
  transition: max-width 0.5s;
}

.sidebar.mobile ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.sidebar.mobile ul li svg {
  min-width: 22px;
  margin-right: 20px;
}

.sidebar.mobile.expand {
  max-width: 250px;
  transition: max-width 0.5s;
}

.sidebar.mobile .social {
  visibility: hidden;
  bottom: 0;
  width: 100%;
}

.sidebar.mobile .header-links {
  visibility: hidden;
  bottom: 50px;
  margin: 0;
  height: unset;
  width: 100%;
  border-bottom: 1px solid var(--gray-border);
}

.sidebar.mobile.expand .social, .sidebar.mobile.expand .header-links {
  visibility: visible;
  transition: visibility 1s 0.5s;
}

.mobile-toggler, .mobile-close {
  position: absolute;
  top: calc(50% - 25px);
  left: -25px;
  z-index: 5;
  transition-delay: 0.5s;
  transition: left 0.5s;
}

.mobile-toggler.expand {
  left: calc(100% - 25px);
  transition: left 0.5s;
}

.mobile-toggler.expand svg {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

/*dash*/

.table thead th {
  border-bottom: 1px solid var(--gray-border);
}

.table th, .table td {
  border: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f5f6;
}

.table-hover tbody tr:hover {
  background-color: var(--gray-border);
}

/*wrapper*/
.content {
  height: calc(100vh - 66px);
  overflow: auto;
  transition: max-width 0.5s;
}

.container-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-wrapper table {
  margin: 0;
}

.gray-text {
  color: #aaaaaa;
  font-weight: 600;
}

.href {
  color: var(--blue-theme);
}

.border-top-gray {
  border-top: 1px solid #f3f3f3;
}

.border-bottom-gray {
  border-bottom: 1px solid #f3f3f3;
}

.page-item .active, .page-item.active .page-link {
  background: var(--blue-theme);
}

.rejected-plate {
  display: inline-block;
  border: 3px solid var(--rejected-border);
  color: var(--rejected);
  padding: 2px 10px;
}

.mined-plate {
  display: inline-block;
  border: 3px solid var(--mined-border);
  color: var(--mined);
  padding: 2px 10px;
}
.pending-plate {
  display: inline-block;
  border: 3px solid var(--pending-border);
  color: var(--pending);
  padding: 2px 10px;
}

/*dashboard*/
.network {
  background: var(--gray-background);
}

.dash-panel {
  display: flex;
  padding: 10px;
  background: var(--gray-background);
  margin-bottom: 10px;
}

.dash-panel.network-description {
  margin: 0;
  align-items: center;
}

.dash-description {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

.dash-panel h1, .dash-panel h4 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.dash-panel svg {
  margin-right: 10px;
  width: 65px;
}
/*mining*/

.stub {
  position: relative;
}

.stub .container-wrapper {
  filter: blur(1px);
}

.stub .stub-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  padding-top: 40px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1));
  z-index: 3;
}

.gray-block {
  background: var(--gray-background);
  border: 1px solid var(--gray-border);
  font-size: 16px;
  min-height: 70px;
  padding: 10px;
}

.mining-table-wrapper {
  min-height: 300px;
}

.mining-table-wrapper table {
  margin-bottom: 0;
}

/*explorer*/

.hash-wrapper {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td-hash-wrapper {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td .hash-wrapper {
  max-width: 250px;
}

.hash-wrapper a {
  display: inline-block;
  width: 100%;
}

.copy {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 15px;
  max-width: 65px;
  outline: none;
  background: var(--blue-theme);
  border: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  transition: background-color 0.2s ease;
}

.copy:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.2s ease;
}

.copy:focus, .copy:active {
  outline: none;
}

.copy:active {
  position: relative;
  top: 1px;
}

/*about*/

.about-title {
  background: var(--gray-background);
}

.ul-about {
  list-style-type: circle;
  padding-left: 20px;
}

.ul-about li {
  padding-bottom: 10px;
}

.img-about {
  max-width: 150px;
  max-height: 150px;
}

@media screen and (min-width: 1600px) {
  .dash-description .full {
    display: block !important;
  }

  .dash-description .reduction {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {

  .header-nav {
    padding: 0 20px;
  }

  .header-search {
    margin-left: 30px;
  }

  .dash-panel {
    min-width: 150px;
  }

  .dash-panel svg {
    width: 40px;
    height: 40px;
  }

  .dash-panel h1 {
    font-size: 16px;
  }

  .dash-panel h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {

  .header-logo {
    width: 60px;
  }

  .header-search {
    padding: 10px 0;
    margin: unset;
    max-width: unset;
  }

  .header-search label {
    width: 25px;
    height: unset;
    text-align: right;
  }

  .header-search input.form-control {
    padding-left: 35px;
  }

  .header-links {
    margin-bottom: 10px;
  }

  ul.navbar-nav.social {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .img-about {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 575px) {
  .header-search input.form-control {
    padding-left: 15px;
  }

  .sidebar.mobile {
    visibility: hidden;
    max-width: 0;
    transition: visibility 0.1s 0.3s, max-width 0.5s;
  }

  .sidebar.mobile.expand {
    visibility: visible;
    max-width: 100%;
  }

  .sidebar.mobile.expand ~ .content {
    max-width: 0;
    transition: max-width 0.5s;
  }

  .border-bottom-gray-xs {
    border-bottom: 1px solid #f3f3f3;
  }
}
